AstronomyApp/AstronomyApp/AstronomyApp.iOS
AstronomyApp/AstronomyApp/AstronomyApp.Droid/obj
AstronomyApp/AstronomyApp/AstronomyApp.Droid/bin
AstronomyApp/.idea
AstronomyApp/AstronomyApp/AstronomyApp/obj
AstronomyApp/AstronomyApp/AstronomyApp/bin
