AstronomyApp/AstronomyApp/AstronomyApp.iOS
AstronomyApp/AstronomyApp/AstronomyApp.Droid/obj
AstronomyApp/AstronomyApp/AstronomyApp.Droid/bin
AstronomyApp/.idea
AstronomyApp/AstronomyApp/AstronomyApp/obj
AstronomyApp/AstronomyApp/AstronomyApp/bin
SkyApp/.idea
SkyApp/SkyApp/SkyApp/obj
SkyApp/SkyApp/SkyApp.Droid/obj
SkyApp/SkyApp/SkyApp/bin
SkyApp/SkyApp/SkyApp.Droid/bin
SkyApp/SkyApp/SkyApp.Droid/bin
